@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

.header{
    background-color: #284854;
    min-height: 800px;
}

.container{
    margin:0 auto;
    width: 1200px;
}

.nav_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1230px;
    height: 81px;
    background: #60C1BD;
    border: 2px solid #60C1BD;
    border-radius: 100px;
    position: absolute;
    top:23px;
}

.list-item{
    display: flex;
    gap:57px;
}

.logo{
    font-weight: 400;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    position: absolute;
    left: 33px;
}

.nav_list-item a{
    position: relative;
    height: 25px;
    left: 462px;
    color: #284854;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.nav_login {
    position:absolute;
    left:1076px;
    border: 1px solid #FFFFFF;
    padding: 4px 20px;
}

.nav_login a{
    font-weight: 400;
    font-size: 14px;
    color:#FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
}

.header_wrapper{
    padding:223px 0 0 0;
    margin-left: 180px;
}

.header_title{
    font-weight: 400;
    font-size: 85px;
    font-family: 'Roboto', sans-serif;
    width: 712px;
    color: #8BC441;
}

.header_text{
    width: 542px;
    padding: 60px 0 0 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

.header_photo{
    position: absolute;
    top: 265px;
    right: 186px;
}


.sabtitle-top{
    display: flex;
    justify-content: center;
    position: relative;
    top:297px;
    font-weight: 700;
    font-size: 22px;
    color:#60C1BD;
    font-family: 'Nunito Sans', sans-serif; 

}

.sabtitle{
    display:flex;
    justify-content: center;
    position: relative;
    top:315px;
    color: #284854;
    font-weight:700 ;
    font-size:55px ;
    font-family: 'Roboto', sans-serif;
}

.cards{
    min-height: 203px ;
}

.card1{
    background: #F4F6F0;
    position: absolute;
    top:720px;
    padding:49px 177px;
    max-height: 203px;
    max-width: 506px;
}

.card_title{
    color: #8BC441;
    font-weight: 400;
    font-size: 37px;
    font-family: 'Roboto', sans-serif; 
}

.card_text{
    width: 188px;
    height: 54px;
    margin-top: 9px;
    color: #60C1BD;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.card2{
    position: absolute;
    top:720px;
    right: 172px;
    background: #F4F6F0;
    padding:49px 177px;
    max-height: 203px;
    max-width: 506px;
}


.card-photo{
    position: absolute;
    top:45px;
    left:30px;
    right: 46px;
}



.section-title_1{
    max-width: 1054px;
    max-height: 317px;
    margin-top: 250px;
    display: flex;
    flex-direction: row-reverse;
    gap: 130px;
}

.title-1{
    padding-top: 48px;
}

.title-wrapper__top{
    font-family: 'Nunito Sans', sans-serif;
    font-weight:700;
    font-size:20px;
    color:#798B56;
}

.title-wrapper{
    font-weight: 700;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color:#8BC441;
    padding-top: 10px ;
    
}

.title-wrapper__text{
    width: 525px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color:#284854;
}

.section-title_2{
    margin:85px 0;
    max-width: 1054px;
    max-height: 317px;
    display: flex;
    gap: 170px;
}


.title-wrapper_2{
    font-weight: 700;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color:#8BC441;
    padding: 10px 0 20px 0;
    max-width: 454px;
}

.section-title_3{
    max-width: 1054px;
    max-height: 317px;
    display: flex;
    flex-direction: row-reverse;
    gap:130px;
}

.title-wrapper__3{
    font-weight: 700;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color:#8BC441;
    padding: 30px 0 20px 0;
    max-width: 497px;
}

.section-btn{
    background-color: #F4F6F0;
}

.section-title__btn{
    margin: 80px 190px 0 0;
    padding: 80px;
    display: flex;
    flex-direction: row-reverse;
    gap: 150px;
}

.title-btn__top{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color:#60C1BD;
}

.title-wrapper__btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color:#284854
}

.title-btn__text{
    margin: 30px 0 58px 0;
    width: 502px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:#284854;
}

.section-btn__title{
    max-width: 121px;
    max-height: 38px;
    border: 2px solid #60C1BD;
    padding: 8px 5px;
    color: #60C1BD;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 32px;
}

.section-img__btn{
    margin-bottom: 50px;
}

.section-buttom__desc{
    display: flex;
    flex-direction: row-reverse;
    gap:165px;
}

.section-buttom{
    margin-top: 10px;
    background-color: #8BC441;
    display: flex;
}

.buttom-desc__wrapper{
    margin: 85px ;
}

.buttom-wrapper{
    width: 512px;
    font-weight: 400;
    font-size: 55px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.buttom-item{
    width: 600px;
    margin-top: 57px;
    font-weight: 400 ;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: space-between;
    gap: 132px;
}

.section-img__buttom{
    margin: 89px 0 90px 185px ;
}

/* footer */

.footer-description{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.footer-item__name{
    margin-bottom: 25px;
}

.footer-item__desc{
    margin: 18px 0;
}

.footer__desc{
    font-weight:400 ;
    font-size: 14px;
    color: #60C1BD;
    font-family: 'Nunito Sans', sans-serif;
}

.footer__items{
    width: 569px;
    display: flex;
    justify-content: space-between;
}

.footer__descs{
    margin-top: 29px;
    font-weight:400 ;
    font-size: 14px;
    color: #60C1BD;
    font-family: 'Nunito Sans', sans-serif;
}

.footer-btn__text{
    margin-top: 37px;
    font-weight: 400;
    font-size: 13px;
}